* {
  box-sizing: border-box;
}

body {
  width: 65%;
  margin: auto;
}

h2 {
  color: rgb(238, 104, 104);
  text-transform: uppercase;
  text-align: center;
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 16px;
}

form {
  width: 50%;
  margin: auto;
  line-height: 1.5rem;
}

input {
  width: 100%;
  border: solid;
  border-radius: 7px;
  border-width: 1px;
  border-color: rgb(161, 178, 196);
  height: 40px;
  margin-bottom: 8px;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(68, 68, 78);
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 12px;
  padding: 8px;
}

select {
  width: 100%;
  border: solid;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(161, 178, 196);
  height: 40px;
  margin-bottom: 8px;
}

button {
  height: 30px;
  width: 75px;
  border: 0;
  border-radius: 15px;
  background-color: rgb(238, 104, 104);
  color: white;
  font-family: 'Brandon Grotesque', sans-serif;
  text-transform: uppercase;
}

input::placeholder {
  opacity: 0.5;
}

.submit {
  text-align: right;
}
