th {
  background-color: black;
  color: white;
}

button.size {
  font-size: 25px;
  height: 50px;
  width: 200px;
}

button:hover {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

tr:nth-child(even) {
  background-color: white;
}
