.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: karla, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-one-half {
  display: flex;
  width: 50%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
  font-size: 37px;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
}

button {
  border: solid;
  border-width: 1.5px;
  background-color: white;
  color: #d14c45;
  border-color: #d14c45;
  padding: 8px 30px;
  text-transform: uppercase;
  margin-top: 35px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.item p {
  text-align: center;
  font-size: 12px;
  margin-left: 125px;
  margin-right: 125px;
  line-height: 23px;
  opacity: 0.5;
}

.feature img {
  width: 93px;
  margin-right: 8px;
}

.feature p {
  font-size: 12px;
  font-weight: 100;
  opacity: 0.5;
  line-height: 24px;
}

.feature {
  margin-top: 40px;
  padding: 0 20px;
}

.feature h2 {
  margin-top: 25px;
}
